.header__localization.localization 
    .localization__current 
        include flags/english
    .localization__langs 
        a.localization__lang(href='#')
            include flags/czech
        a.localization__lang(href='#')
            include flags/english