nav.header__nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href='#') O NÁS
        li.navigation__item
            a.navigation__link(href='#') HRÁČI
        li.navigation__item
            a.navigation__link(href='#') SLUŽBY
        li.navigation__item
            a.navigation__link(href='#') KONTAKT
    button.navigation__opener(type='button' aria-label='opener')
        span.navigation__hamburger