nav.header__nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href='#aboutUs') O NÁS
        li.navigation__item
            a.navigation__link(href='#players') HRÁČI
        li.navigation__item
            a.navigation__link(href='#ourServices') SLUŽBY
        li.navigation__item
            a.navigation__link(href='#subscribe') KONTAKT
    button.navigation__opener(type='button' aria-label='opener')
        span.navigation__hamburger