.socials
    a.socials__link(href='https://www.linkedin.com/' target='_blank')
        include icons/linkedin
    a.socials__link(href='https://www.instagram.com/' target='_blank')
        include icons/instagram