h1 {
    font-size: var(--fontSize-1);
    font-weight: 700;
}

h2 {
    font-size: var(--fontSize-2);
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: var(--fontSize-3);
    font-weight: 700;
}

h4 {
    font-size: var(--fontSize-4);
    font-weight: 600;
}

h1, h2, h3, h4 {
    line-height: 1.5;
    margin-bottom: 0.25em;
    font-style: italic;
}

p {
    font-size: var(--fontSize-p1);
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 1.5em;
}